<table>
  <td class="left-panel">
    <div class="box border border-ligth" style="width: max-content; min-width: 350px;">
      <ul class="list-group">
        <li class="list-group-item border rounded-pill mb-2" *ngFor="let jefe of this.jefes; let i = index;">
          <i class="far fa-user" (click)="clickCheck(i);"></i>&#9;{{jefe.nombre}}
        </li>
      </ul>
    </div>
  </td>
  <td class="right-panel">
    <form [formGroup]="formJefe">
      <div class="form-row">
        <div class="col-md-2"></div>
        <div class="form-group col-md-8">
          <label for="usuario">Usuario</label>
          <input type="text" class="form-control" id="usuario" formControlName="usuario">
        </div>
        <div class="col-md-2"></div>
      </div>
      <div class="form-row">
        <div class="col-md-2"></div>
        <div class="form-group col-md-8">
          <label for="password">Contraseña</label>
          <input type="password" class="form-control" id="password" formControlName="password">
        </div>
        <div class="col-md-2"></div>
      </div>
      <div class="form-row">
        <div class="col-md-2"></div>
        <div class="form-group col-md-8">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" id="nombre" formControlName="nombre">
        </div>
        <div class="col-md-2"></div>
      </div>
      <div class="form-row">
        <div class="col-md-2"></div>
        <div class="form-group col-md-8">
          <label for="carrera">Carrera</label>
          <select class="form-control" id="carrera" formControlName="carrera">
            <option>A</option>
            <option>B</option>
            <option>C</option>
            <option>D</option>
            <option>E</option>
          </select>
        </div>
        <div class="col-md-2"></div>
      </div>
      <div class="form-row">
        <div class="col-md-8"></div>
        <div class="col-md-2">
          <button type="submit" class="btn btn-warning" (click)="addJefe();">Añadir</button>
        </div>
        <div class="col-md-2"></div>
      </div>
    </form>
  </td>
</table>