<div class="box" style="border: 5px dotted gray; position: static;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let empresa of this.empresas; let i = index;">
      <div class="card bg list-group-item">
        <div class="card-body">
          <h5 class="card-title">{{empresa.nombre}}</h5>
          <p class="card-text" align="justify">{{empresa.informacion}}</p>
          <p class="card-text" *ngIf="empresa.pagina">
            <small class="text-muted">
              <a href="http://{{empresa.pagina}}" target="_blank">{{empresa.pagina}}</a>
            </small>
          </p>
          <!-- <a class="btn btn-success mr-sm-2">Card link</a> -->
          <button class="btn btn-success mr-sm-2">Success</button>
          <button class="btn btn-danger mr-sm-2">Danger</button>
        </div>
      </div>
    </li>
  </ul>
</div>