<table>
  <td class="left-panel">
    <div class="info" style="width: max-content; min-width: 350px; border: 5px dotted gray">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="checkbox" aria-label="Checkbox for following text input">
          </div>
        </div>
        <input type="text" class="form-control" style="background-color: aliceblue;" value="rosita" disabled>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="checkbox" aria-label="Checkbox for following text input">
          </div>
        </div>
        <input type="text" class="form-control" aria-label="Text input with checkbox">
      </div>
    </div>
  </td>
  <td class="right-panel">
    <div class="d-flex justify-content-center">
      <input type="text" class="form-control" style="width: 50%;" #inCarrera><br />
    </div>
    <div class="d-flex justify-content-center p-2">
      <button class="btn btn-secondary">Añadir carrera</button>
    </div>
  </td>
</table>