<table>
  <td class="left-panel">
    <div class="box border border-ligth" style="width: max-content; min-width: 350px;">
      <ul class="list-group">
        <li class="list-group-item border rounded-pill mb-2" *ngFor="let carrera of this.carreras; let i = index;"
        [ngClass]="{
          'border-success':carrera.estado,
          'border-danger':!carrera.estado
        }">
          <i class="far check" (click)="clickCheck(i);" [ngClass]="{
              'fa-check-square':carrera.estado,
              'fa-minus-square':!carrera.estado
            }"></i>&#9;{{carrera.nombre}}
        </li>
      </ul>
    </div>
  </td>
  <td class="right-panel">
    <div class="d-flex justify-content-center">
      <input type="text" class="form-control" style="width: 50%;" #inCarrera><br />
    </div>
    <div class="d-flex justify-content-center p-2">
      <button class="btn btn-secondary" (click)="addCarrera(inCarrera.value);">Añadir carrera</button>
    </div>
  </td>
</table>
