.mybtn {
  min-width: 300px;
}

.list-group-item {
  background: transparent;
}

.bg {
  max-height: 50%;
  min-height: 150px;
}

.bg.off {
  background: linear-gradient(rgba(200, 0, 0, 0.6), rgba(200, 0, 0, 0.6));
}

.bg.on {
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
}
