<div class="info" style="border: 5px dotted gray; position: static;">
  <div class="card mb-3" style="max-height: 50%; min-height: 150px;">
    <div class="row no-gutters">
      <div class="col-md-4" style="max-height: 150px; max-width: 150px;">
        <img src="assets/times-circle-512.png" class="card-img" style="max-height: 150px; max-width: 150px;" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>

</div>